body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    font-size: 50px;
    margin: auto;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}

h1:after {
    content: '';
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    border-bottom: 3px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

h1:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

h2:after {
    content: '';
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    border-bottom: 3px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

h2 {
    font-size: 40px;
    margin: auto;
    display: block;
    width: fit-content;
}

h2:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
}

img {
    display: block;
    margin: auto;
    transition-duration: 0.5s;
}

img:hover {
    box-shadow: rgba(0, 0, 0, 0.99) 0px 0px 10px;
}

.social {
    text-align: center;
}

.social a {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-color: rgb(22, 22, 22);
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 3rem;
}

.social i {
    padding-top: 15px;
}

.github:hover {
    background-color: rgb(128, 119, 134);
}

.linkedin:hover {
    background-color: rgb(40, 103, 178);
}

.projects {
    margin-left: 10px;
}

.projects h2 {
    font-size: 60px;
    text-align: center;
}

.projects h3 {
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.projects p {
    font-size: 35px;
    text-align: center;
}

.projects a {
    font-size: 35px;
    text-align: center;
}

footer {
    background-color: rgb(22, 22, 22);
    color: white;
}